@model EditUserViewModel
@{
    ViewData["Title"] = "Login";
}

<form class="form-horizontal" method="post">
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Description">Username:</label>
    <div class="col-sm-8">
      @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Enter Username" })
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Sync with LDAP", "LdapSyncUser", "Admin", new { id = Model.UserId }, new { @class = "btn btn-outline-primary btn-sm" })
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Name">Name:</label>
    <div class="col-sm-10">
      @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter Name of User" })
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Description">Email:</label>
    <div class="col-sm-10">
      @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email" })
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Enabled">Enabled:</label>
    <div class="col-sm-10">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            @Html.CheckBoxFor(m => m.Enabled)
          </div>
        </div>
        @Html.TextBoxFor(m => m.Note, new { @class = "form-control", placeholder = "Note / reason" })
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  @Html.AntiForgeryToken()
</form>

<h2>User Cards</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Card Id</th>
            <th>Description</th>
            <th>Added</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in Model.Cards) {
            <tr>
                <td>@card.CardId</td>
                <td>@card.Description</td>
                <td>@card.Added</td>
                <th>
                  @Html.ActionLink("Edit", "EditUserCard", "Admin", new { id = card.CardId }, new { @class = "btn btn-outline-primary btn-sm" })
                  @Html.ActionLink("Delete", "DeleteUserCard", "Admin", new { id = card.CardId }, new { @class = "btn btn-outline-primary btn-sm" })
                </th>
            </tr> 
        }
    </tbody>
</table>

<h3>Add Last Card</h3>
@if (Model.LastUnknownCard == "") {
  <p>Cannot add the last card.</p>
} else {
  <form class="form-horizontal" asp-action="AddUserCard" method="post">
    <input type="hidden" name="id" value="@Model.UserId" />
    <input type="hidden" name="cardid" value="@Model.LastUnknownCard" />
    <div class="form-group row">
      <label class="col-sm-offset-2 col-form-label col-sm-1" for="description">Description:</label>
      <div class="col-sm-3">
        <input type="text" name="description" class="form-control" placeholder="Enter Description" />
      </div>
        <input type="submit" class="btn btn-outline-success" value="Add" />
    </div>
  </form>
}

<h3>Manually Add Card</h3>
<form class="form-horizontal" asp-action="AddUserCard" method="post">
  <input type="hidden" name="id" value="@Model.UserId" />
  <div class="form-group row">
    <label class="col-sm-offset-2 col-form-label col-sm-1" for="cardid">Card Id:</label>
    <div class="col-sm-2">
        <input type="text" name="cardid" class="form-control" placeholder="Enter Card Number" />
    </div>
    <label class="col-sm-offset-2 col-form-label col-sm-1" for="description">Description:</label>
    <div class="col-sm-3">
        <input type="text" name="description" class="form-control" placeholder="Enter Description" />
    </div>
    <div class="col-sm-2">
      <input type="submit" class="btn btn-outline-success" value="Add" />
    </div>
  </div>
</form>

